// Here you can add other styles

.marginleftnone{
  margin-left: 0!important;
}

.cardbodypadding{
  padding:0.5rem 0 0.5rem 1rem!important;
}

.marginbottomnon{
  margin-bottom:0px!important;
}

.displayBlock{
  display:block!important;
}


